html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 30 auto;
    background-color: #f1f1f1;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.menu {
    width: 5%;
    background-color: rgb(149, 151, 151);
    padding: 370px 90px 0px 0px;
    height: 100vh;
}
.header {
    background-color: #f1f1f1;
    min-height: 20px;
}
.content {
    background-color: #f1f1f1;
    min-height: 0px;
    padding: 200px 50px;
}
.footer {
    background-color: #f1f1f1;
    text-align:center;
    margin-top:auto;
}
a:link, a:visited, a:hover{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-family: cursive;
    font-size: larger;
    font-family: Copperplate, Papyrus, fantasy;
}
.content form legend {
    text-align: center;
}
