html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
}

.wrapper {
    width: 1700px;
    display: flex;
    margin: 30 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 5%;
    background-color: rgb(198, 209, 209);
    padding: 250px 60px 0px 0px;
    
}
.header {
    background-color: rgb(255, 255, 255);
    min-height: 100px;
}
.content {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(255, 255, 255);
    min-height: auto;
    text-align:center;
}
a:link{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-family: cursive;
    font-size: larger;
    font-family: Copperplate, Papyrus, fantasy;
}
a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: larger;
    font-family: Copperplate, Papyrus, fantasy;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: larger;
    font-family: Copperplate, Papyrus, fantasy;
}
p {
    margin: 0;
}